@import 'tailwindcss';
@import '@heroui/styles';

@custom-variant dark (&:where(.dark, .dark *));

:root,
.light,
.default,
[data-theme='light'],
[data-theme='default'] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(62.04% 0.195 170);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.014 170);
  --border: oklch(90% 0.014 170);
  --danger: oklch(65.32% 0.2393 15.68);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0.014 170);
  --default-foreground: oklch(21.03% 0.0059 170);
  --field-background: oklch(100% 0.007 170);
  --field-foreground: oklch(21.03% 0.014 170);
  --field-placeholder: oklch(55.17% 0.028 170);
  --focus: oklch(62.04% 0.195 170);
  --foreground: oklch(21.03% 0.014 170);
  --muted: oklch(55.17% 0.028 170);
  --overlay: oklch(100% 0.0042 170);
  --overlay-foreground: oklch(21.03% 0.014 170);
  --scrollbar: oklch(87.1% 0.014 170);
  --segment: oklch(100% 0.014 170);
  --segment-foreground: oklch(21.03% 0.014 170);
  --separator: oklch(92% 0.014 170);
  --success: oklch(73.29% 0.1989 140.75);
  --success-foreground: oklch(21.03% 0.0059 140.75);
  --surface: oklch(100% 0.007 170);
  --surface-foreground: oklch(21.03% 0.014 170);
  --surface-secondary: oklch(95.24% 0.0112 170);
  --surface-secondary-foreground: oklch(21.03% 0.014 170);
  --surface-tertiary: oklch(93.73% 0.0112 170);
  --surface-tertiary-foreground: oklch(21.03% 0.014 170);
  --warning: oklch(78.19% 0.1629 62.27);
  --warning-foreground: oklch(21.03% 0.0059 62.27);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.75rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-schibsted-grotesk);
  --font-mono: var(--font-martian-mono);
}

.dark,
[data-theme='dark'] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(62.04% 0.195 170);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12% 0.014 170);
  --border: oklch(28% 0.014 170);
  --danger: oklch(59.4% 0.2022 14.57);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.014 170);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.028 170);
  --field-foreground: oklch(99.11% 0.014 170);
  --field-placeholder: oklch(70.5% 0.028 170);
  --focus: oklch(62.04% 0.195 170);
  --foreground: oklch(99.11% 0.014 170);
  --muted: oklch(70.5% 0.028 170);
  --overlay: oklch(21.03% 0.028 170);
  --overlay-foreground: oklch(99.11% 0.014 170);
  --scrollbar: oklch(70.5% 0.014 170);
  --segment: oklch(39.64% 0.014 170);
  --segment-foreground: oklch(99.11% 0.014 170);
  --separator: oklch(25% 0.014 170);
  --success: oklch(73.29% 0.1989 140.75);
  --success-foreground: oklch(21.03% 0.0059 140.75);
  --surface: oklch(21.03% 0.028 170);
  --surface-foreground: oklch(99.11% 0.014 170);
  --surface-secondary: oklch(25.7% 0.021 170);
  --surface-secondary-foreground: oklch(99.11% 0.014 170);
  --surface-tertiary: oklch(27.21% 0.021 170);
  --surface-tertiary-foreground: oklch(99.11% 0.014 170);
  --warning: oklch(82.03% 0.1427 66.28);
  --warning-foreground: oklch(21.03% 0.0059 66.28);
}

@layer base {
  html {
    @apply h-full antialiased;
  }

  body {
    @apply bg-background text-foreground flex min-h-full flex-col;
  }
}
